<div class='container-fluid navbar-fixed-top subtop_header'>
  <div class='container'>
    <div class='header'>
      <div class='row'>
        <div class='col-md-7 col-sm-6 col-xs-12'>

          <% cache_unless request.host.match(Settings['app.nocache_host'].to_s),
                          "#{request.fullpath.to_s.parameterize('_').gsub('-', '_')}_subtop_navigation",
                          expires_in: 20.minutes do %>
            <div class='logotype'>

              <div class='col-xs-10 col-sm-12 col-md-6 col-lg-6 image-wrapper'>
                <%= link_to I18n.locale == :ru ? '/' : "/#{I18n.locale}", :class => 'image' do %>
                  <%= image_tag 'logotype.png', class: 'img-responsive' %>
                <% end %>
              </div>

              <div class='col-md-6 col-lg-6 site_name-wrapper hidden-xs hidden-sm'>
                <%= link_to I18n.t('app.title'), I18n.locale == :ru ? '/' : "/#{I18n.locale}", :class => 'site_name' %>
              </div>

              <button class='navbar-toggle collapsed' type='button' data-toggle='collapse' data-target='#main-navbar' aria-controls='main-navbar' aria-expanded='false'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
              </button>

              <div class='visible-xs'>
                <nav id='main-navbar' class='navbar-collapse collapse' aria-expanded='true'>
                  <ul class='nav navbar-nav'>
                    <%= render partial: 'application/public_navigation_items' if @main_navigation.present? %>
                  </ul>
                </nav>
              </div>
            </div>
          <% end %>

        </div>

        <div class='col-md-5 col-sm-6 col-xs-12'>
          <div class='additional-capabilities pull-right'>
            <a href='#' class='cecutient' data-normal='<%= I18n.t('app.cecutient_normal') %>' data-cecutient='<%= I18n.t('app.cecutient') %>'><%= I18n.t('app.cecutient') %></a>
          </div>

          <div class="search search-block pull-right">
            <%= simple_form_for :search, :url => "/#{I18n.locale}/search", :method => :get do |f| %>
              <%= f.input :q, :label => false,
                :input_html => { :name => 'parts_params[search][q]', :value => params.try(:[], :parts_params).try(:[], :search).try(:[], :q), :placeholder => I18n.t('search_placeholder') } %>
              <div class='form-actions'>
                <%= link_to '', '#', :onclick => '$(this).closest("form").submit(); return false;' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
