<% @main_navigation.content.values.first.children.each do |key, value| %>
  <li class='js-init-overlay js-init-subnanigation <%= 'active' if value['selected'] %>'>
    <%= render_link_for_navigation(nil, value, { :link_for => key }) %>

    <!-- subnavigation -->
    <ul class='subnavigation js-subnavigation-item hidden-xs'>

      <!-- если есть просто элементы и сгрупированные элементы -->
      <% if value.grouping_children.present? %>
        <% value.grouping_children.each do |group_title, grouping_items| %>
          <div class="col-xs-5 items grouped">
            <ul>
              <%= content_tag :div, grouping_items.title, :class => "navigation_group_title #{group_title}" %>

              <% grouping_items.children.each do |k, v| %>
                <li>
                  <%= render_link_for_navigation(nil, k) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <% if value.grouping_children.present? && value.children.present? %>
        <div class='col-xs-5 items with-border <%= key %>'>
          <% value.children.each_slice(5) do |part| %>
            <ul>
              <% part.each do |k, v| %>
                <li>
                  <%= render_link_for_navigation(nil, v, { :link_for => k }) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <!-- если есть просто элемент и нет сгрупированных -->
      <% if value.children.present? && !value.grouping_children.present? %>
        <div class='col-xs-12 items <%= key %>'>
          <% value.children.each_slice(5) do |part| %>
            <ul>
              <% part.each do |k, v| %>
                <li>
                  <%= render_link_for_navigation(nil, v, { :link_for => k }) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

    </ul>
  </li>
<% end %>

<% if current_user && current_user.has_any_permissions? %>
  <li class='pull-right'><%= link_to 'Управление', manage_root_path %></li>
<% end %>
